
<div class="card">
    <div class="card-header">
        <h1><%= member.name %></h1>
        <h2>
            <% if (member.getRole().toLowerCase() === "manager") { %>
                <i class="fas fa-mug-hot"></i> Manager
            <% } %>

            <% if (member.getRole().toLowerCase() === "engineer") { %>
                <i class="fas fa-glasses"></i> Engineer
            <% } %>

            <% if (member.getRole().toLowerCase() === "intern") { %>
                <i class="fas fa-user-graduate"></i> Intern
            <% } %>
        </h2>
    </div>
    <div class="card-body">
        <ul>
            <li>ID: <%= member.id %></li>
            <li>Email: <a href="mailto:<%= member.email %>"><%= member.email %></a></li>
            <% if (member.getRole().toLowerCase() === "manager") { %>
                <li>Office number: <%= member.officeNumber %></li>
            <% } %>

            <% if (member.getRole().toLowerCase() === "engineer") { %>
                <li>Github: <a href="https://api.github.com/users/<%= member.github %>"><%= member.github %></a></li>
            <% } %>

            <% if (member.getRole().toLowerCase() === "intern") { %>
                <li>School: <%= member.school %></li>
            <% } %>
            
        </ul>
    </div>
</div>